.jp-background-white { background-color: @jp-white; }
.jp-background-pale-orange { background-color: @jp-pale-orange; }
.jp-background-lemon-yellow { background-color: @jp-lemon-yellow; }
.jp-background-naples-yellow { background-color: @jp-naples-yellow; }
.jp-background-pale-green { background-color: @jp-pale-green; }
.jp-background-yellow { background-color: @jp-yellow; }
.jp-background-chrome-yellow { background-color: @jp-chrome-yellow; }
.jp-background-pale-orange-2 { background-color: @jp-pale-orange-2; }
.jp-background-pale-brown { background-color: @jp-pale-brown; }
.jp-background-yellow-orange { background-color: @jp-yellow-orange; }
.jp-background-pink { background-color: @jp-pink; }
.jp-background-yellow-ochre { background-color: @jp-yellow-ochre; }
.jp-background-salmon-pink { background-color: @jp-salmon-pink; }
.jp-background-classic-rose { background-color: @jp-classic-rose; }
.jp-background-pale-blue { background-color: @jp-pale-blue; }
.jp-background-gray-2 { background-color: @jp-gray-2; }
.jp-background-pale-vermillion { background-color: @jp-pale-vermillion; }
.jp-background-yellow-gray { background-color: @jp-yellow-gray; }
.jp-background-yellow-green { background-color: @jp-yellow-green; }
.jp-background-gray { background-color: @jp-gray; }
.jp-background-okre { background-color: @jp-okre; }
.jp-background-orange { background-color: @jp-orange; }
.jp-background-green { background-color: @jp-green; }
.jp-background-blue { background-color: @jp-blue; }
.jp-background-olive-green { background-color: @jp-olive-green; }
.jp-background-hyacinth-violet { background-color: @jp-hyacinth-violet; }
.jp-background-green-gray { background-color: @jp-green-gray; }
.jp-background-crimson-lake { background-color: @jp-crimson-lake; }
.jp-background-vermillion { background-color: @jp-vermillion; }
.jp-background-blue-green { background-color: @jp-blue-green; }
.jp-background-deep-gray { background-color: @jp-deep-gray; }
.jp-background-rose-madder { background-color: @jp-rose-madder; }
.jp-background-ultramarine-light { background-color: @jp-ultramarine-light; }
.jp-background-scarlet { background-color: @jp-scarlet; }
.jp-background-red { background-color: @jp-red; }
.jp-background-brown { background-color: @jp-brown; }
.jp-background-cobalt-blue { background-color: @jp-cobalt-blue; }
.jp-background-purple { background-color: @jp-purple; }
.jp-background-dark-gray { background-color: @jp-dark-gray; }
.jp-background-vandyke-brown { background-color: @jp-vandyke-brown; }
.jp-background-indian-red { background-color: @jp-indian-red; }
.jp-background-violet { background-color: @jp-violet; }
.jp-background-deep-green { background-color: @jp-deep-green; }
.jp-background-ultramarine { background-color: @jp-ultramarine; }
.jp-background-prussian-blue-light { background-color: @jp-prussian-blue-light; }
.jp-background-prussian-blue { background-color: @jp-prussian-blue; }
.jp-background-dark-carmine { background-color: @jp-dark-carmine; }
.jp-background-dark-green { background-color: @jp-dark-green; }
.jp-background-black { background-color: @jp-black; }